@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: #fff;
    margin: 0 auto;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}










