@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: #E5E7EB;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

/* Header */
header {
    padding: 10px 40px 50px 30px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

/* applying flex-grow: 1; - the header logo takes up as much available space as the list */
nav>h2 {
    flex-grow: 1;
    font-size: 18px;
    color: #F9FAF8;
}

nav>ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 10px;
    color: #E5E7EB;
}

/* applies to hero-section, info-section, and quote-section */
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* take up equal portions of available space */
.hero-text, .hero-image {
    flex: 1;
}

.hero-main-text {
    font-size: 40px;
    color: #F9FAF8;
}

/* applies to all elements with the subtext class*/
.subtext {
    font-size: 16px;
    color: #E5E7EB;
}

/* applies to all buttons */
button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    /* remove default button-border design */
    border: none;
    border-radius: 0.3em;
}

.hero-text>button {
    padding: 5px 20px;
    margin-top: 10px;
}

/* display hero image as flex in-order to center the alt text */
.hero-image {
    font-size: 10px;
    background-color: #949494;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* main */
main {
    height: 70%;
    display: flex;
    flex-direction: column;
}

.info-section, .quote-section, .signup-section {
    flex: auto;
}

/* info-section */
.info-section {
    background: #F9FAF8;
    color: #1F2937;
    padding: 30px 30px 80px 30px;
}

.info-header-text {
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
}

.info-item {
    flex: 1;
}

.info-item>img {
    font-size: 10px;
    border: 2px solid #3882F6; 
    border-radius: 0.5em;
    padding: 30px;
    margin-bottom: 10px;
}

.info-item>p {
    font-size: 16px;
    color: #1F2937;
}

/* quote-section */
.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
    padding: 60px 30px 40px 30px;
}

figcaption {
    font-weight: 550;
    text-align: right;
    padding-top: 10px;
}

/* signup-section*/
.signup-section {
    background-color: #F9FAF8;
    padding: 50px 0;
}

.signup-section>.container {
    justify-content: space-around;
}

.big-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 0.3em;
    padding: 50px;
}

.big-button>button{
    border: 1.5px solid #F9FAF8;
    font-size: 12px;
    padding: 5px 20px;
}

.signup-text>h3 {
    font-size: 16px;
    font-weight: bold;
}

.signup-text>p {
    font-size: 12px;
}

/* footer */
footer {
    font-size: 10px;
    font-weight: lighter;
    padding: 10px 0;
}














