@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

/* Header */
header {
    padding: 10px 40px 50px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

/* applying flex-grow: 1; - the header logo takes up as much available space as the list */
nav>h2 {
    flex-grow: 1;
    font-size: 18px;
    color: #F9FAF8;
}

.subtext>li>a {
    font-size: 10px;
    color: #E5E7EB;
}

nav>ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

nav>ul>li>a {
    text-decoration: none;
    color: #fff;
}

/* applies to hero-section, info-section, and quote-section */
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* take up equal portions of available space */
.hero-text, .hero-image {
    flex: 1;
}

.hero-main-text {
    font-size: 40px;
    color: #F9FAF8;
}

/* applies to all elements with the subtext class*/
.subtext {
    font-size: 16px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    /* remove default button-border design */
    border: none;
    border-radius: 0.3em;
    padding: 5px 20px;
    margin-top: 10px;
}

/* display hero image as flex in-order to center the alt text */
.hero-image {
    background-color: #949494;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}












